p{
	margin-top: 180px;
	color: #FF4646;
	text-align: center;
}
a {
	color: #FF4646;
	text-decoration: none;

}
a:hover{
	color: blue;
}
a:active{
	color: purple;
}

}
img {
	margin-top: 40px;
}

h1 {
	color:#FF4646;
	font-family: futura;
}
p {color:#FF4646;} 
h2 {color: #FF4646}
li {
	color: #FF4646;
    margin-bottom:20px;
}
h3{
	font-family: futura;
	color:#FF4646;
}
.mainpage{
	font-family: futura;
	background-color: #f7e3ee;
	text-align: center;
}
.tabs{
	font-size: 20px;
	margin-top:20px;
	display: inline;
	margin-right:20px;
	margin-left: 20px;
	text-align: center;
}


.photopage{
	font-family: futura;
	text-align: center;
	font-size: 40px;
}
.photoone{
	margin-top: 200px;
}

.faves{
	text-align: center;
}
.intro{
	text-align: center;
	font-size: 40px;
}
a{
	text-align: center;
}
.interview1{
	text-align: left;
	margin-left:100px; 
}
.Interviewpage{
	font-family: futura;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}

