
p {
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 20px;
}

a:link {
	color: black;
}

nav {
	background-color: white;
}
h1, li {
	color: red;
	font-family: futura
}
h3{
	color: white;
}

.home{
	color: red;
}