p{
	margin-top: 180px;
	color: #FF4646;
	text-align: center;
	font-family: futura;
}
a {
	color: #FF4646;
	text-decoration: none;

}
a:hover{
	color: blue;
}
a:active{
	color: purple;
}

}
img {
	margin-top: 40px;
}

h1 {
	color:#FF4646;
	font-family: futura;
}
p {color:#FF4646;} 
h2 {color: #FF4646}
li {
	color: #FF4646;
    margin-bottom:20px;
}
h3{
	font-family: futura;
	color:#FF4646;
}
.mainpage{
	font-family: futura;
	background-color: #f7e3ee;
	text-align: center;
}
.tabs{
	font-size: 20px;
	margin-top:20px;
	display: inline;
	margin-right:20px;
	margin-left: 20px;
	text-align: center;
}


.photopage{
	font-family: futura;
	text-align: center;
	font-size: 40px;
}
.photoone{
	margin-top: 200px;
}

.faves{
	text-align: center;
}
.intro{
	text-align: center;
	font-size: 40px;
}
a{
	text-align: center;
}
.interview1{
	text-align: left;
	margin-left:100px; 
}
.Interviewpage{
	font-family: futura;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.photos{
	display: inline;
}

/*photos*/

 
  * {box-sizing: border-box;}
.wrapper {
  max-width: 98%;
  margin: 0 auto;
}
.wrapper > div {
  bord er: 2px solid hsla(35,100%,50%,1);
  border-radius: 5px;
  backgro und-color: hsla(35,100%,70%,.5);
  padding: 1em;
  co lor: hsla(20,100%,45%,1);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 4 / 10;
  grid-row: 2;
  text-align: center;
}
.two { 
  grid-column: 2 / 6;
  grid-row: 5;
}
.three {
  grid-column: 7/ 11;
  grid-row: 6;
}
.four {
  grid-column: 2 / 6;
  grid-row: 7;
}
.five {
  grid-column: 7 /11;
  grid-row: 8;
}
.six {
  grid-column: 2 / 6;
  grid-row: 9;
}
.seven{
	 grid-column: 2 / 6;
  grid-row: 9;
}
.eight{
	 grid-column: 7 / 11;
  grid-row: 10;
}
.nine{
	 grid-column: 2 / 6;
  grid-row: 11;
}
.ten{
	 grid-column: 7 / 11;
  grid-row: 12;
}
.eleven{
	 grid-column: 2 / 6;
  grid-row: 13;
}

@media (max-width: 568px) {
	.wrapper {display: block;}
}

.pic{
	text-align: center;
	margin-top: none;
}

/* -------------------------------------------Print Work-------------*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.oneprint {
  grid-column: 3 / 6;
  grid-row: 1;
  text-align: center;
}
.twoprint { 
  grid-column: 8/ 11;
  grid-row: 1;
}
.threeprint {
  grid-column: 3/6;
  grid-row: 2;
}
.fourprint {
  grid-column: 2 / 6;
  grid-row: 7;
}
.fiveprint {
  grid-column: 7 /11;
  grid-row: 8;
}
.sixprint {
  grid-column: 2 / 6;
  grid-row: 9;
}
@media (max-width: 568px) {
	.wrapper {display: block;}
}

.printwork {
	text-align: center;
}

/* -------------------------------------------Print Work-------------*/

  * {box-sizing: border-box;}
.wrapper {
  max-width: 98%;
  margin: 0 auto;
}
.wrapper > div {
  bord er: 2px solid hsla(35,100%,50%,1);
  border-radius: 5px;
  backgro und-color: hsla(35,100%,70%,.5);
  padding: 1em;
  co lor: hsla(20,100%,45%,1);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 4fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.oneport {
  grid-column: 4 / 10;
  grid-row: 2;
  text-align: center;
}
.twoport { 
  grid-column: 2 / 6;
  grid-row: 5;
}
.threeport {
  grid-column: 7/ 11;
  grid-row: 6;
}
.fourport {
  grid-column: 2 / 6;
  grid-row: 7;
}
.fiveport {
  grid-column: 7 /11;
  grid-row: 8;
}
.sixport {
  grid-column: 2 / 6;
  grid-row: 9;
}
.sevenport{
	 grid-column: 2 / 6;
  grid-row: 9;
}
.eightport{
	 grid-column: 7 / 11;
  grid-row: 10;
}
.nineport{
	 grid-column: 2 / 6;
  grid-row: 11;
}
@media (max-width: 568px) {
	.wrapper {display: block;}
}

.pic{
	text-align: center;
	margin-top: none;
}


